<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find rrc_2wheel_robot)/urdf/rrc_2wheel_robot.xacro" />
  <!-- send fake joint values -->
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui">
    <param name="use_gui" value="False"/>
  </node>
  <!-- Combine joint values -->
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <!-- Show in Rviz -->
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find rrc_2wheel_robot)/config/initial.rviz" />
</launch>
